services:

  pygeoapi_cite:

    image: geopython/pygeoapi_cite:latest

    build: ./pygeoapi

    container_name: pygeoapi_cite

    restart: unless-stopped

    expose:
      - "80"

#    ports:
#      - "5000:80"

    environment:
     - SCRIPT_NAME=/cite

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pygeoapi_cite.rule=(Host(`demo.pygeoapi.io`) || Host(`localhost`)) && PathPrefix(`/cite`)"
      - "traefik.http.routers.pygeoapi_cite.entrypoints=http,https"
      - "traefik.http.routers.pygeoapi_cite.tls.certresolver=le"
      - "traefik.http.routers.pygeoapi_cite.tls.options=tls_default@file"
      - "traefik.http.routers.pygeoapi_cite.priority=100"
      - "traefik.http.routers.pygeoapi_cite.middlewares=secure-headers@file"
      - "traefik.http.services.pygeoapi_cite.loadbalancer.server.port=80"
      - "traefik.docker.network=pygeoapi-network"

networks:
  default:
    name: pygeoapi-network
    external: true
