services:

  pygeoapi_master:
    
    image: geopython/pygeoapi_master:latest

    container_name: pygeoapi_master

    restart: unless-stopped

    expose:
      - "80"

#    ports:
#     - "5000:80"

    environment:
     - SCRIPT_NAME=/master

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pygeoapi_master.rule=(Host(`demo.pygeoapi.io`) || Host(`localhost`)) && PathPrefix(`/master`)"
      - "traefik.http.routers.pygeoapi_master.entrypoints=http,https"
      - "traefik.http.routers.pygeoapi_master.tls.certresolver=le"
      - "traefik.http.routers.pygeoapi_master.tls.options=tls_default@file"
      - "traefik.http.routers.pygeoapi_master.priority=100"
      - "traefik.http.routers.pygeoapi_master.middlewares=secure-headers@file"
      - "traefik.http.services.pygeoapi_master.loadbalancer.server.port=80"
      - "traefik.docker.network=pygeoapi-network"

networks:
  default:
    name: pygeoapi-network
    external: true
