# Traefik v3.x configuration - Nusa
# Updated for v3.5.2 compatibility

[entryPoints]
  [entryPoints.http]
    address = ":80"

[providers]
  [providers.docker]
    endpoint = "unix:///var/run/docker.sock"
    exposedByDefault = false
    network = "pygeoapi-network"
    watch = true

  [providers.file]
    directory = "/etc/traefik/dynamic"
    watch = true

[log]
  level = "INFO"
  filePath = "/var/log/traefik/traefik.log"

[accessLog]
  filePath = "/var/log/traefik/access.log"

[api]
  dashboard = false

[global]
  checkNewVersion = false
  sendAnonymousUsage = false
