# Runs Home app

services:
  home:
    image: geopython/demo.pygeoapi.io:latest

    restart: unless-stopped

    container_name: home

    labels:
      - "traefik.enable=true"

      # HTTP router (root path)
      - "traefik.http.routers.home.rule=Host(`{{ domain }}`)"
      - "traefik.http.routers.home.entrypoints=web"
      - "traefik.http.routers.home.priority=5"

      # HTTPS router (root path)
      - "traefik.http.routers.home-secure.rule=Host(`{{ domain }}`)"
      - "traefik.http.routers.home-secure.entrypoints=websecure"
      - "traefik.http.routers.home-secure.tls=true"
      - "traefik.http.routers.home-secure.tls.certresolver=letsencrypt"
      - "traefik.http.routers.home-secure.priority=5"

      # Service configuration
      - "traefik.http.services.home.loadbalancer.server.port=80"

networks:
  default:
    name: pygeoapi-network
    external: true
