# Runs Home app

services:
  home:
    image: geopython/demo.pygeoapi.io:latest

    restart: unless-stopped

    container_name: home

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.home.rule=Host(`demo.pygeoapi.io`) && Path(`/`)"
      - "traefik.http.routers.home.entrypoints=http,https"
      - "traefik.http.routers.home.tls.certresolver=le"
      - "traefik.http.routers.home.tls.options=tls_default@file"
      - "traefik.http.routers.home.priority=5"
      - "traefik.http.routers.home.middlewares=secure-headers@file"
      - "traefik.http.services.home.loadbalancer.server.port=5000"
      - "traefik.docker.network=pygeoapi-network"

networks:
  default:
    name: pygeoapi-network
    external: true
