# Runs Home app

services:
  home:
    image: geopython/demo.pygeoapi.io:latest
    restart: unless-stopped
    container_name: home
    labels:
      - "traefik.enable=true"
      # Production router (HTTPS with Let's Encrypt)
      - "traefik.http.routers.home.rule=Host(`demo.pygeoapi.io`) && Path(`/`)"
      - "traefik.http.routers.home.entrypoints=https"
      - "traefik.http.routers.home.tls.certresolver=le"
      - "traefik.http.routers.home.tls.options=tls_default@file"
      - "traefik.http.routers.home.priority=5"
      - "traefik.http.routers.home.middlewares=secure-headers@file"
      # Localhost router (HTTP only)
      - "traefik.http.routers.home_local.rule=Host(`localhost`) && Path(`/`)"
      - "traefik.http.routers.home_local.entrypoints=http"
      - "traefik.http.routers.home_local.priority=5"
      # Common service definition
      - "traefik.http.services.home.loadbalancer.server.port=5000"
      - "traefik.docker.network=pygeoapi-network"

networks:
  default:
    name: pygeoapi-network
    external: true
