services:

  pygeoapi_cite:
    image: geopython/pygeoapi_covid-19:latest

    build: ./pygeoapi

    container_name: pygeoapi_covid-19

    restart: unless-stopped

    expose:
      - "80"

#    ports:
#      - "5000:80"

    environment:
     - SCRIPT_NAME=/covid-19

    labels:
      - "traefik.enable=true"

      # HTTP router
      - "traefik.http.routers.pygeoapi-covid19.rule=Host(`{{ domain }}`) && PathPrefix(`/covid-19`)"
      - "traefik.http.routers.pygeoapi-covid19.entrypoints=web"
      - "traefik.http.routers.pygeoapi-covid19.priority=100"

      # HTTPS router (SSL enabled)
      - "traefik.http.routers.pygeoapi-covid19-secure.rule=Host(`{{ domain }}`) && PathPrefix(`/covid-19`)"
      - "traefik.http.routers.pygeoapi-covid19-secure.entrypoints=websecure"
      - "traefik.http.routers.pygeoapi-covid19-secure.tls=true"
      - "traefik.http.routers.pygeoapi-covid19-secure.tls.certresolver=letsencrypt"
      - "traefik.http.routers.pygeoapi-covid19-secure.priority=100"

      # Service configuration
      - "traefik.http.services.pygeoapi-covid19.loadbalancer.server.port=80"

networks:
  default:
    name: pygeoapi-network
    external: true
