services:

  pygeoapi_covid19:
    image: geopython/pygeoapi_covid-19:latest

    build: ./pygeoapi

    container_name: pygeoapi_covid-19

    restart: unless-stopped

    expose:
      - "80"

#    ports:
#      - "5000:80"

    environment:
     - SCRIPT_NAME=/covid-19

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pygeoapi_covid19.rule=(Host(`demo.pygeoapi.io`) || Host(`localhost`)) && PathPrefix(`/covid-19`)"
      - "traefik.http.routers.pygeoapi_covid19.entrypoints=http,https"
      - "traefik.http.routers.pygeoapi_covid19.tls.certresolver=le"
      - "traefik.http.routers.pygeoapi_covid19.tls.options=tls_default@file"
      - "traefik.http.routers.pygeoapi_covid19.priority=100"
      - "traefik.http.routers.pygeoapi_covid19.middlewares=secure-headers@file"
      - "traefik.http.services.pygeoapi_covid19.loadbalancer.server.port=80"
      - "traefik.docker.network=pygeoapi-network"

networks:
  default:
    name: pygeoapi-network
    external: true
