version: '3.1'

services:
  proxy:
    image: traefik:1.7.10-alpine

    container_name: traefik

    restart: unless-stopped

    command: --docker --logLevel=INFO

    ports:
      - "${HTTP_PORT}:80"
      - "443:443"
      # - "8080:8080"

    labels:
      - "traefik.enable=false"

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config/traefik.${HOSTNAME}.toml:/traefik.toml
      - ./config/acme.json:/acme.json
      - traefik_logs:/var/log/traefik

volumes:
  traefik_logs:

networks:
  default:
    external:
      name: pygeoapi-network

