services:

  #  See https://github.com/maccyber/micro-dockerhub-hook
  dockerhub:
    image: maccyber/micro-dockerhub-hook
    container_name: dockerhub
    expose:
      - "3000"
#    ports:
#      - "3000:3000"
    env_file: dockerhub.env
    labels:
      - "traefik.enable=true"
      # Common middleware and service
      - "traefik.http.middlewares.dhubhook-stripprefix.stripprefix.prefixes=/dhubhook"
      # Production router (HTTPS with Let's Encrypt)
      - "traefik.http.routers.dockerhub.rule=Host(`${SITE_DOMAIN}`) && PathPrefix(`/dhubhook`)"
      - "traefik.http.routers.dockerhub.entrypoints=https"
      - "traefik.http.routers.dockerhub.tls.certresolver=le"
      - "traefik.http.routers.dockerhub.tls.options=tls_default@file"
      - "traefik.http.routers.dockerhub.priority=100"
      - "traefik.http.routers.dockerhub.middlewares=dhubhook-stripprefix,secure-headers@file"
      # Localhost router (HTTP only)
      - "traefik.http.routers.dockerhub_local.rule=Host(`localhost`) && PathPrefix(`/dhubhook`)"
      - "traefik.http.routers.dockerhub_local.entrypoints=http"
      - "traefik.http.routers.dockerhub_local.priority=100"
      - "traefik.http.routers.dockerhub_local.middlewares=dhubhook-stripprefix"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./scripts:/src/scripts
      # Paths to docker compose files who are triggered by scripts:
      - ./../pygeoapi_master:/srv/pygeoapi_master
      - ./../home:/srv/home
      - ./../pygeoapi_cite:/srv/pygeoapi_cite
      - ./../pygeoapi_covid-19:/srv/pygeoapi_covid-19

networks:
  default:
    name: pygeoapi-network
    external: true
