services:
  pygeoapi_stable:
    image: geopython/pygeoapi:0.20.0
    container_name: pygeoapi_stable
    restart: unless-stopped
    expose:
      - "80"
#    ports:
#      - "5000:80"
    volumes:
      - ./local.config.yml:/pygeoapi/local.config.yml
      - ./data:/pygeoapi/data
    environment:
     - SCRIPT_NAME=/stable
    labels:
      - "traefik.enable=true"
      # HTTP router
      - "traefik.http.routers.pygeoapi-stable.rule=Host(`{{ domain }}`) && PathPrefix(`/stable`)"
      - "traefik.http.routers.pygeoapi-stable.entrypoints=http"
      - "traefik.http.routers.pygeoapi-stable.priority=100"
{% if use_https | default(true) %}
      # HTTPS router (SSL enabled)
      - "traefik.http.routers.pygeoapi-stable-secure.rule=Host(`{{ domain }}`) && PathPrefix(`/stable`)"
      - "traefik.http.routers.pygeoapi-stable-secure.entrypoints=https"
      - "traefik.http.routers.pygeoapi-stable-secure.tls=true"
      - "traefik.http.routers.pygeoapi-stable-secure.tls.certresolver=le"
      - "traefik.http.routers.pygeoapi-stable-secure.tls.options=my_default@file"
      - "traefik.http.routers.pygeoapi-stable-secure.middlewares=secure-headers@file"
      - "traefik.http.routers.pygeoapi-stable-secure.priority=100"
{% endif %}
      # Service configuration
      - "traefik.http.services.pygeoapi-stable.loadbalancer.server.port=80"
networks:
  default:
    external:
      name: pygeoapi-network