# defaultEntryPoints must be at the top because it should not be in any table below
# Configuration for {{ inventory_hostname }}
defaultEntryPoints = ["http", "https"]

# Entrypoints, http and https
[entryPoints]

# http should be redirected to https
  [entryPoints.http]
  address = ":80"
    [entryPoints.http.redirect]
    entryPoint = "https"

  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]

[acme]
email = "{{ my_email }}"
storage = "/acme.json"
entryPoint = "https"
onHostRule = false
onDemand = false

[acme.tlsChallenge] #enables the TLS ALPN Challenge

[[acme.domains]]
  main = "{{ inventory_hostname }}"

[retry]

[docker]
endpoint = "unix:///var/run/docker.sock"
domain = "{{ inventory_hostname.split('.')[1:] | join('.') }}"
watch = true
exposedbydefault = false

[accessLog]
  filePath = "/var/log/traefik/access.log"
