# ansible/templates/traefik_docker_compose.yml.j2
version: '3.1'

services:
  proxy:
    image: traefik:v3.5.2
    container_name: traefik
    restart: unless-stopped
    ports:
      - "80:80"
{% if use_https | default(true) %}
      - "443:443"
{% endif %}
      - "8090:8080"  # Dashboard
    labels:
      - "traefik.enable=false"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./config/traefik.{{ domain }}.yml:/etc/traefik/traefik.yml:ro
      - ./config/acme.json:/acme.json
      - traefik_logs:/var/log/traefik

volumes:
  traefik_logs:

networks:
  default:
    external:
      name: pygeoapi-network
