services:
  proxy:
    image: traefik:2.10-alpine
    container_name: traefik
    restart: unless-stopped
    ports:
      - "${HTTP_PORT}:80"
{% if use_https | default(true) %}
      - "443:443"
{% endif %}
    labels:
      - "traefik.enable=false"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./config/traefik.${HOSTNAME}.yml:/etc/traefik/traefik.yml:ro
      - ./config/acme.json:/acme.json
      - traefik_logs:/var/log/traefik

volumes:
  traefik_logs:

networks:
  default:
    name: pygeoapi-network
    external: true
