{% extends 'layout.html' %}

{% block body %}

<div class="container">
    <h2>Welcome to pygeoapi Demo Server</h2>
    <p>
        This server mainly runs instances of
        the <a href="https://pygeoapi.io">pygeoapi</a> service. <br/>
        Find the major links below.
    </p>
    <table style="width: auto;" class="table table-bordered table-condensed table-responsive">
        <thead>
        <tr>
            <th width="80%">Name</th>
            <th>Link</th>
        </tr>
        </thead>
        <tr>
            <td>pygeoapi - latest GitHub 'master' version</td>
            <td><a target="_blank" href="/master" class="btn btn-success" role="button">Link</a></td>
        </tr>
        <tr>
            <td>pygeoapi - latest stable version</td>
            <td><a target="_blank" href="/stable" class="btn btn-success" role="button">Link</a></td>
        </tr>
        <tr>
            <td>Project Home</td>
            <td><a target="_blank" href="https://pygeoapi.io/" class="btn btn-success" role="button">Link</a></td>
        </tr>
    </table>
    <p>
        The setup and configuration of this server
        <a href="https://github.com/geopython/demo.pygeoapi.io">can be found in GitHub</a>.<br/>
        Can be handy to start running your own pygeoapi instance!
    </p>


</div>

{% endblock %}
