{% extends '_layout.html' %}

{% block title %}Home{% endblock %}
{% block body %}

<div class="container">
    <h2>Welcome to pygeoapi Demo Server</h2>
    <p>
        This server mainly runs instances of the <a title="pygeoapi" href="https://pygeoapi.io">pygeoapi</a> service.
    </p>
    <table style="width: auto;" class="table table-bordered table-condensed table-responsive">
        <thead>
        <tr>
            <th width="50%">Demonstrations (<a href="{{ url_for('api_catalog') }}" rel="api-catalog">API Catalog</a>)</th>
        </tr>
        </thead>

        {% for service in services %}
        <tr>
            <td><a target="_blank" href="{{ service['href'] }}" class="btn btn-success">{{ service['title'] }}</a></td>
        </tr>
        {% endfor %}

        <tr>
            <td><a target="_blank" href="https://opengeogroep.github.io/ogc-api-features-testclient/src/index.html" class="btn btn-success">Test Client - by OpenGeoGroep</a></td>
        </tr>
    </table>
    <p>
        The setup and configuration of this server
        <a href="https://github.com/geopython/demo.pygeoapi.io">can be found in GitHub</a>.<br/>
        Can be handy to start running your own pygeoapi instance!
    </p>
</div>

{% endblock %}
