services:

  pygeoapi_stable:
    
    image: geopython/pygeoapi:0.20.0

    container_name: pygeoapi_stable

    restart: unless-stopped

    expose:
      - "80"

#    ports:
#      - "5000:80"

    volumes:
      - ./local.config.yml:/pygeoapi/local.config.yml
      - ./data:/pygeoapi/data

    environment:
     - SCRIPT_NAME=/stable

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pygeoapi_stable.rule=(Host(`demo.pygeoapi.io`) || Host(`localhost`)) && PathPrefix(`/stable`)"
      - "traefik.http.routers.pygeoapi_stable.entrypoints=http,https"
      - "traefik.http.routers.pygeoapi_stable.tls.certresolver=le"
      - "traefik.http.routers.pygeoapi_stable.tls.options=tls_default@file"
      - "traefik.http.routers.pygeoapi_stable.priority=100"
      - "traefik.http.routers.pygeoapi_stable.middlewares=secure-headers@file"
      - "traefik.http.services.pygeoapi_stable.loadbalancer.server.port=80"
      - "traefik.docker.network=pygeoapi-network"

networks:
  default:
    name: pygeoapi-network
    external: true
